#root {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    #root {
        scroll-behavior: auto;
    }
}

.content-container {
    min-height: 300vh;
    display: block;
    position: relative;
    background-color: var(--background-color);
    z-index: 1;
}

.content {
    position: absolute;
    padding-top: 10px;
    left: 5vw;
    top: 0;
    width: 90vw;
    font-weight: 200;
}

code {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 5px;
    border-radius: 5px;
}

/* Ram Download Elements */

.ram-container {
    margin: auto;
    width: auto;
    float: center;
    text-align: center;
}

.downloadOption {
    display: inline-block;
    margin: 30px;
    width: 300px;
    height: 200px;
    background-color: #ededed;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    text-align: center;
}

.downloadButton {
    cursor: pointer;
    border: 0px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    margin: 0 auto;
    transition: all 0.1s ease-out;
}

.downloadButton:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4);
    opacity: 0.9;
    transform: translate(0, 2px);
}

.downloadButton:active {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);
    transform: translate(0, -2px);
}

.downloadButton:focus {
    outline: none;
}

/* Home Elements */

#content {
    opacity: 0;
}

.center-content {
    text-align: center;
}

.content-image {
    max-width: 50vw;
    border-radius: 20px;
}

/* Transition Elements */

.hidden {
    display: none;
}

.old-content {
    user-select: none;
    top: 0vh;
    z-index: -10 !important;
}

.anim-old-1 {
    animation: fade-out-1 0.2s forwards;
}

.anim-old-2 {
    animation: fade-out-2 0.2s forwards;
}

.anim-current-1 {
    animation: slide-in-1 0.5s forwards;
}

.anim-current-2 {
    animation: slide-in-2 0.5s forwards;
}

/* Animation */

@keyframes slide-in-1 {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes slide-in-2 {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}

@keyframes fade-out-1 {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out-2 {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

